{% extends "base.html" %}


{% block content %}
<br><br><br><br>
This database contains a list of over 1600 wildfires that have occured in California from 2013 - 2019. The first 30 are displayed below. Use the search feature to discover and learn more based on Name, Year, and County[Note: only list County name].
<div class="row">
    <div class="col-lg-3">
      <div class="my-4">
        <form action="{{ url_for('main.search_result') }}" method="POST">
            <div class="form-group">
                <input type = 'text' name = 'name' placeholder="Enter name of wildfire"><br><br>
            </div>
            <div class="form-group">
                <input type = 'text' name = 'archive_year' placeholder="Year 2013 - 2020"><br><br>
            </div>
            <div class="form-group">
                <input type = 'text' name = 'counties' placeholder="Enter county name"><br><br>
            </div>
            <input type = 'submit' placeholder = 'submit'>
          </form>      </div>
    </div>
    <div class="col-lg-9">
      <div class="row my-5 card-wrapper">
        {% if wildfires %}
        {% for w in wildfires %}
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <div class="embed-responsive embed-responsive-10by9">
                  <a href="#">
                    <img src="{{ w.image_url }}"  alt="Photo" height=300px >
                  </a>
                </div>
                <div class="card-body">
                  <h2 class="card-title"><a href="{{ url_for('main.expanded', id=w.id) }}" >
                    {{w.name}}
                  </a></h2>
                  <h2>{{w.archive_year}}</h2>
                  <h4>{{w.counties}} County</h4>

                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    source: kaggle.com
                  </small>
                </div>
              </div>
          </div>
        {% endfor %}
        {% else %}
        <h1 class="offset-lg-3">No items to show.</h1>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}